(haskell [0, 0] - [1, 0]
  declarations: (declarations [0, 0] - [1, 0]
    (data_type [0, 0] - [0, 17]
      name: (name [0, 5] - [0, 7])
      constructors: (data_constructors [0, 10] - [0, 17]
        constructor: (data_constructor [0, 10] - [0, 12]
          constructor: (prefix [0, 10] - [0, 12]
            name: (constructor [0, 10] - [0, 12])))
        constructor: (data_constructor [0, 15] - [0, 17]
          constructor: (prefix [0, 15] - [0, 17]
            name: (constructor [0, 15] - [0, 17])))))
    (ERROR [0, 18] - [0, 19])))
test/parse/bug-119.hs	(ERROR [0, 18] - [0, 19])
