(haskell [0, 0] - [4, 0]
  declarations: (declarations [0, 0] - [4, 0]
    (bind [0, 0] - [1, 8]
      name: (variable [0, 0] - [0, 1])
      match: (match [0, 2] - [1, 8]
        expression: (lambda_case [0, 4] - [1, 8]
          alternatives: (alternatives [1, 2] - [1, 8]
            alternative: (alternative [1, 2] - [1, 8]
              pattern: (variable [1, 2] - [1, 3])
              match: (match [1, 4] - [1, 8]
                expression: (variable [1, 7] - [1, 8])))))))
    (bind [3, 0] - [3, 5]
      name: (variable [3, 0] - [3, 1])
      match: (match [3, 2] - [3, 5]
        expression: (variable [3, 4] - [3, 5])))))
