(haskell [0, 0] - [6, 0]
  declarations: (declarations [0, 0] - [6, 0]
    (bind [0, 0] - [5, 14]
      name: (variable [0, 0] - [0, 1])
      match: (match [0, 2] - [5, 14]
        expression: (let_in [0, 4] - [5, 14]
          binds: (local_binds [0, 7] - [3, 18]
            decl: (bind [0, 8] - [3, 18]
              name: (variable [0, 8] - [0, 9])
              match: (match [0, 10] - [3, 18]
                expression: (do [0, 12] - [3, 18]
                  statement: (exp [1, 10] - [3, 18]
                    (apply [1, 10] - [3, 18]
                      function: (variable [1, 10] - [1, 11])
                      argument: (do [1, 12] - [3, 18]
                        statement: (bind [2, 12] - [2, 18]
                          pattern: (variable [2, 12] - [2, 13])
                          expression: (variable [2, 17] - [2, 18]))
                        statement: (exp [3, 12] - [3, 18]
                          (apply [3, 12] - [3, 18]
                            function: (variable [3, 12] - [3, 16])
                            argument: (variable [3, 17] - [3, 18]))))))))))
          (comment [4, 10] - [4, 14])
          expression: (variable [5, 13] - [5, 14]))))))
