(haskell [0, 0] - [4, 0]
  declarations: (declarations [0, 0] - [4, 0]
    (bind [0, 0] - [1, 13]
      name: (variable [0, 0] - [0, 1])
      match: (match [0, 2] - [0, 5]
        expression: (variable [0, 4] - [0, 5]))
      binds: (local_binds [1, 7] - [1, 13]
        decl: (bind [1, 8] - [1, 13]
          name: (variable [1, 8] - [1, 9])
          match: (match [1, 10] - [1, 13]
            expression: (variable [1, 12] - [1, 13])))))
    (bind [3, 0] - [3, 5]
      name: (variable [3, 0] - [3, 1])
      match: (match [3, 2] - [3, 5]
        expression: (variable [3, 4] - [3, 5])))))
