test/query/func.hs
  pattern: 0
    capture: 0 - func, start: (1, 2), end: (1, 6), text: `test`
    capture: 1 - name, start: (1, 7), end: (1, 14), text: `"name1"`
  pattern: 0
    capture: 0 - func, start: (2, 7), end: (2, 11), text: `test`
    capture: 1 - name, start: (2, 12), end: (2, 19), text: `"name2"`
  pattern: 0
    capture: 0 - func, start: (4, 2), end: (4, 6), text: `test`
    capture: 1 - name, start: (4, 7), end: (4, 14), text: `"name4"`
