test/query/terminal.hs
  pattern: 0
    capture: 0 - result, start: (0, 5), end: (0, 8), text: `∀`
  pattern: 0
    capture: 0 - result, start: (1, 5), end: (1, 11), text: `forall`
